html, body {
    overflow-x: hidden;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    cursor: default;
    /* min-width: 580px; */
}

h2 {
    font-size: 2.5em;
    color: #F08700;
}

h3 {
  color: #F08700;
}

h4 {
  color: #00A6A6;
}

#wrapper {
    padding-top: 60px;
    padding-bottom: 4em;
    min-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color: #BBDEF0;
    text-align: center;

}

div.buttons>* {
    width: 11em;
    background-color: #F08700;
    color: white;
    padding: 1em 2em;
    margin: 1em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}
  
div.buttons>*:hover {
    background-color: #F49F0A;
}
  
div.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.descriptionShort {
    color: black;
    font-style: italic;
    font-size: .8em;
    padding: 0 10px;
}

.info {
  font-size: 1.5em;
  color: #00A6A6;
}

input[type="text"].ng-touched.ng-invalid, 
input[type=email].ng-touched.ng-invalid, 
select.ng-touched.ng-invalid {
    border: 2px solid #f00;
    border-radius: 4px;
  }

input:focus, select:focus {
    outline-color: #000;
}