body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    cursor: default;
}

h2 {
    font-size: 2.5em;
    color: #F08700;
}

#wrapper {
    padding-top: 60px;
    min-height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color: #BBDEF0;
    text-align: center;
}