img {
    width: 100%;
    cursor: pointer;
}

h3 {
    color: #F08700;
    cursor: pointer;
}

h4 {
    font-size: .8em;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-around; 
}

p {
    font-style: italic;
    font-size: .8em;
}

/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    section {
        grid-template-columns: repeat(2, 40%);
    }
}

/* MAX SCREEN WIDTH 400PX */

@media (max-width: 400px) {
    section {
        grid-template-columns: 1fr;
    }

    img {
        width: 80%;
    }

    h2 {
        font-size: 2em;
    }
}