footer {
    padding: .5em;
    width: 100%;
    border-top: 1px solid black;
    bottom: 0;
    height: 50px;
    justify-content: start;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
}