footer {
    position: absolute;
    bottom: 0;
    padding: .5em;
    width: 100%;
    border-top: 1px solid #000;
    height: 4em;
    text-align: center;
    box-sizing: border-box;
    background-color: #F49F0A;
    font-weight: bold;
}