img {
    width: 50%
}

section {
    display: grid;
}

section.league {
    grid-template-columns: repeat(4, 25%);
}

.team-name {
    cursor: pointer;
}

/* This makes the image in the leagues component smaller when I use that component in the all-teams component */

:host ::ng-deep img.smallImg {
    width: 70%;
}
