<h2>Teams</h2>
<section class="league">
    <div *ngFor="let league of allLeagues">
        <img src="{{league.image}}" alt="{{league.leagueName}} Photo">
        <h3>{{league.leagueName}}</h3>
        <section class="team" *ngFor="let team of getTeamByLeague(league.leagueName)">
            <h4 class="team-name" routerLink="{{team.teamRoute}}">{{team.teamName}}</h4>
            <div>
                <p>Captain: {{team.captainName}}</p>
                <p>Team Size: {{team.players.length}}/10</p>
            </div>
        </section>
    </div>
</section>
