img {
    width: 50%;
    cursor: pointer;
}

span {
    font-weight: bold;
}

h3 {
    cursor: pointer;
}

section {
    display: grid;
    padding: 0 10px;
}

section>div {
    padding-bottom: 1em;
}

section.league {
    width: 100%;
    grid-template-columns: repeat(4, 25%);
}

.team-name {
    cursor: pointer;
}

@media (max-width: 800px) {
    section.league {
        grid-template-columns: repeat(2, 40%);
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    h4 {
        font-size: .9em;
    }

    p {
        font-size: .8em;
    }

    img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    p.descriptionShort {
        font-size: .8em;
    }

    section.league {
        grid-template-columns: 1fr;
    }

    img {
        width: 80%
    }
}
