<h2>Come be social and kick it with us!</h2>
<section>
    <article>
        <h4>Why join us?</h4>
        <p class="info">Whether you are new in town and want to meet new people, or want to relive your glory days of gym class with friends, Bootsville Kickball League is the place to meet and compete with active young professionals from all over the Bootsville area! Find a location that is best for you and sign up today!</p>
    </article>
    <div>
        <img src="assets/images/kickball5.jpg" alt="Kickball Photo">
        <img src="assets/images/kickball4.jpg" alt="Kickball Photo">
    </div>
</section>