img {
    width: 100%;
}

article {
    padding: 2em;
    color: #F08700;
}

h4 {
    font-size: 2em;
}

section {
    display: grid;
    grid-template-columns: 40% 60%;
}

/* Centers the image in the div */

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.image{ 
    animation: imageChange 40s infinite;
    margin: 0 1em;
    border: .5em solid #F08700;
    width: 100%;
    padding-bottom: 50%;
}


/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    section {
        grid-template-columns: 1fr;
    }

    article {
        grid-row: 2;
    }
}

/* MAX SCREEN WIDTH 600PX */

@media (max-width: 600px) {
    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1em;
    }

    .image {
        padding-bottom: 45%;
    }

    article {
        padding: 1em .5em;
    }
}

/* IMAGE ANIMATIONS */

@keyframes 

imageChange{

        0%, 20%, 40%, 60%, 80%, 100% {
            background-size: 100%;
        }

        0%,100%  {
            background-image: url('/assets/images/photos/kickball1.jpg');
        }
        20% {
            background-image: url("/assets/images/photos/kickball2.jpg");
        }
        40% {
            background-image: url("/assets/images/photos/kickball3.jpg");
        }
        60% {
            background-image: url("/assets/images/photos/kickball4.jpg");
        }
        80% {
            background-image: url("/assets/images/photos/kickball5.jpg");
        }
}