<h2>Locations</h2>
<section>
    <div>
        <img routerLink="location" src="../../assets/images/locations/washington-park.png" alt="Washington Park">
        <h3 routerLink="location">Washington Park</h3>
    </div>
    <div>
        <img routerLink="location" src="../../assets/images/locations/brewery-park.png" alt="Brewery District">
        <h3 routerLink="location">Brewery District</h3>
    </div>
    <div>
        <img routerLink="location" src="../../assets/images/locations/rittenhouse-park.png" alt="Rittenhouse Square">
        <h3 routerLink="location">Rittenhouse Square</h3>
    </div>
    <div>
        <img routerLink="location" src="../../assets/images/locations/cooper-river-park.png" alt="Cooper River">
        <h3 routerLink="location">Cooper River</h3>
    </div>
</section>
