img {
    width: 100%;
}

article {
    padding: 2em;
    color: #F08700;
}

h4 {
    font-size: 2em;
}

section {
    display: grid;
    grid-template-columns: 40% 60%;
}

/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    section {
        grid-template-columns: 1fr;
    }
}

/* MAX SCREEN WIDTH 600PX */

@media (max-width: 600px) {
    h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1em;
    }
}