<h2>Locations</h2>
<section>
    <div>
        <img src="../../assets/images/locations/washington-park.png" alt="Washington Park">
        <p>Washington Park</p>
    </div>
    <div>
        <img src="../../assets/images/locations/brewery-park.png" alt="Brewery District">
        <p>Brewery District</p>
    </div>
    <div>
        <img src="../../assets/images/locations/rittenhouse-park.png" alt="Rittenhouse Square">
        <p>Rittenhouse Square</p>
    </div>
    <div>
        <img src="../../assets/images/locations/cooper-river-park.png" alt="Cooper River">
        <p>Cooper River</p>
    </div>
</section>
