img {
    width: 100%;
}

article {
    padding: 2em;
    color: #F08700;
}

h4 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    color: #00A6A6;
}

section {
    display: grid;
    grid-template-columns: 40% 60%;
}