<!-- <h2 id="location/location-name">Rittenhouse Square</h2> -->
<h2 id="{{locationRoute}}">{{locationName}}</h2>
<section>
    <div>
        <!-- <img src="assets/images/locations/rittenhouse-park.png" alt="Location Photo"> -->
        <img src="assets/images/{{locationRoute}}.png" alt="{{locationName}} Photo">
        <!-- <h3>Rittenhouse Square</h3> -->
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, totam deserunt quis atque voluptatum eligendi repellendus nostrum vitae natus iste incidunt officia suscipit, ex quia provident explicabo. Voluptatum, eos cum.
            
            Location description....

            History?

            Where?

            When?

            Min-Max players...

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus adipisci nam commodi aliquid asperiores! Quis nemo temporibus quidem tempore deleniti a ipsum, aliquid sunt, recusandae porro non! Quas, sapiente fuga?
        </p>
        <button>Join a team!</button>
        <button>Create a team!</button>
    </div>
</section>