<h2 id="sign-up">Sign up for a league!</h2>
<section>
    <div>
        <img src="assets/images/kickball6-circle.png" alt="About Photo">
    </div>
    <div>
        <article>
            <p class="info">
                We would be so happy to have you join us in this amazing adventure! If you are into having fun, making friends, and having the time of your life then you are in right spot. Signing up is simple and easy. The first thing you need to do in choose a league that fits you best and from there you can either create your own team or join one that has been formed. What are you waiting for? Sign up today!
            </p>
        </article>
        <app-leagues class="leaguesComponent"></app-leagues>
        <div class="buttons">
            <input type="button" id="cancel-join-team" value="Sign Up!" routerLink='/leagues'>
        </div>
    </div>
</section>