<h2 id="sign-up">Sign up for a league!</h2>
<section>
    <div>
        <img class="big" src="assets/images/kickball6-circle.png" alt="About Photo">
    </div>
    <div>
        <article>
            <p class="info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae repellendus accusamus, sequi aut distinctio eveniet laborum esse labore adipisci quaerat, fugiat similique culpa soluta pariatur voluptates fugit! Dolorem, deserunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum repellat provident eius laboriosam a magnam ad beatae, quod dolorum itaque cupiditate quos impedit obcaecati quas sapiente? Magnam illo quo numquam?
            </p>
        </article>
        <app-leagues></app-leagues>
    </div>
</section>