img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around; 
}

div.buttons {
    display: none;
}

/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    section {
        grid-template-columns: 1fr;

    }
    
    img {
        width: 50%;
    }

    p {
        font-size: 1em;
    }

    article {
        padding: 10px;
    }

    /* Hide leagues component */

    .leaguesComponent {
        display: none;
    }

    div.buttons {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* MAX SCREEN WIDTH 600PX */

@media (max-width: 600px) {
    h2 {
        font-size: 1.5em;
    }
    
    p.info {
        font-size: 1em;
    }
}

/* MAX SCREEN WIDTH 400PX */

@media (max-width: 400px) {
    img {
        width: 80%;
    }
}