img {
    width: 20%;
}

img.big {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around; 
}

/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    section {
        grid-template-columns: 1fr;

    }
    
    img.big {
        width: 50%;
    }
}

/* MAX SCREEN WIDTH 600PX */

@media (max-width: 600px) {
    h2 {
        font-size: 1.5em;
    }
    
    p.info {
        font-size: 1em;
    }

    article {
        padding: 10px;
    }
}

/* MAX SCREEN WIDTH 400PX */

@media (max-width: 400px) {
    img.big {
        width: 80%;
    }
}