img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around; 
}

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.players>div {
    /* width: clamp(350px,5vw,500px); */
    text-align: left;
    padding: .5em;
}

div.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

div button {
    background-color: #F08700;
    color: white;
    padding: .5em 1em;
    margin: .5em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}
  
div button:hover {
    background-color: #F49F0A;
}

@media (max-width: 1350px) {
    .players {
        grid-template-columns: repeat(2,1fr);
    }

    div.button {
        display: block;
    }
}

@media (max-width: 850px) {
    .players {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    section {
        grid-template-columns: 1fr;
    }

    section>div>img {
        width: 50%;
    }
    .players>div {
        text-align: center;
        padding: .5em;
    }

    h2 {
        font-size: 1.5em;
    }
}
