<h2 *ngIf="teamObject" innerText={{teamObject.teamName}}></h2>
<section *ngIf="teamObject">
    <div>
        <!-- Somehow add interpolation to the image. This is soooooo janky-->
        <img [src]="'assets/images/location/' + getLeagueNameDashed(teamObject.leagueName) + '.png'" alt={{teamObject.leagueName}}>
        <h3 innerText={{teamObject.leagueName}}></h3>
    </div>
    <div class="players">
        <div *ngFor="let player of teamObject.players">
            <h4>Player: {{player.playerName}}</h4>
            <p>Email: {{player.playerEmail}}</p>
            <p>Phone Number: {{player.playerPhone}}</p>
            <p>Edit - Delete (for captain)</p>
        </div>
    </div>
</section>
