<section>
    <!-- <section *ngFor="let league of leagues">
    <div  *ngFor="let team of teams">
        <img> baby location photo??
        <p>{{teamName}}</p>
        <app-team-details-short></app-team-details-short>
    </div> -->
    <div>
        <h3>Washington Park</h3>
        <app-team-details-short></app-team-details-short>
        <app-team-details-short></app-team-details-short>
        <app-team-details-short></app-team-details-short>
    </div>
    
    <div>
        <h3>Brewery District</h3>
        <app-team-details-short></app-team-details-short>
    </div>
    
    <div>
        <h3>Rittenhouse Square</h3>
        <app-team-details-short></app-team-details-short>
        <app-team-details-short></app-team-details-short>
        <app-team-details-short></app-team-details-short>
        <app-team-details-short></app-team-details-short>
    </div>
    
    <div>
        <h3>Cooper River</h3>
        <app-team-details-short></app-team-details-short>
        <app-team-details-short></app-team-details-short>
    </div>
</section>