p {
    font-weight: bold;
}

nav {
    height: 4em;
    position: fixed;
    top: 0;
    background-color: #F49F0A;
    width: 100%;
    box-sizing: border-box;
}

nav.web {
    display: grid;
    grid-template-columns: 25em auto 5em;
}

nav.mobile {
    display: none;
}

section.webContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 5em);
}

 .login {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: -2;
}

.webLinks {
    cursor: pointer;
}

@media (max-width: 600px) {
    nav.normal {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .mobileContainer {
        background-color: #F49F0A;
    }

    .mobileLinks p {
        padding: 10px;
        margin: 0;
        border-top: 1px solid #333;
        user-select: none;
        cursor: pointer;
    }

    .mobileLinks p:hover {
        background-color: #F08700;
    }
    .mobileContainer p {
        user-select: none;
        cursor: pointer;
    }

    .mobileContainer p.icon {
        width: 2em;
        font-size: 2em;
        line-height: 0;
    }

    .mobileLinks p.display-none {
        display: none;
    }
    
    .mobileLinks p.display-block {
        display: block;
    }
  }