p {
    font-weight: bold;
}

nav {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 25em auto 5em;
    background-color: #F49F0A;
    padding: .5em;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}
section.nav {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 5em);
}

 .login {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: -2;
}

.link {
    cursor: pointer;
}

/* .active {
    background-color: #EFCA08;
} */