<nav>
    <section>
        <div class="link" routerLink="" routerLinkActive="active">
            Home
        </div>
        <div class="link" routerLink="/location" routerLinkActive="active" (click)="scrollToContent()">
            Location
        </div>
        <div class="link" routerLink="/teams" routerLinkActive="active" (click)="scrollToContent()">
            Teams
        </div>
        <div class="link" routerLink="/about" routerLinkActive="active" (click)="scrollToContent()">
            About
        </div>
        <div class="link" routerLink="/sign-up" routerLinkActive="active" (click)="scrollToContent()">
            Sign up!
        </div>
    </section>
    <section class="login">
        <div class="login link">
            Login
        </div>
    </section>
</nav>
