<nav>
    <section class="nav">
        <div class="link" routerLink="" routerLinkActive="active">
            <p>Home</p>
        </div>
        <div class="link" routerLink="/location" routerLinkActive="active" (click)="scrollToContent()">
           <p>Location</p>
        </div>
        <div class="link" routerLink="/teams" routerLinkActive="active" (click)="scrollToContent()">
            <p>Teams</p>
        </div>
        <div class="link" routerLink="/about" routerLinkActive="active" (click)="scrollToContent()">
            <p>About</p>
        </div>
        <div class="link" routerLink="/sign-up" routerLinkActive="active" (click)="scrollToContent()">
            <p>Sign up!</p>
        </div>
    </section>
    <section class="login">
        <div class="login link">
            <p>Login</p>
        </div>
    </section>
</nav>
