<h2>Locations</h2>
<section>
    <div>
        <img routerLink="location-name" src="../../assets/images/locations/washington-park.png" alt="Washington Park">
        <h3 routerLink="location-name">Washington Park</h3>
    </div>
    <div>
        <img routerLink="location-name" src="../../assets/images/locations/brewery-park.png" alt="Brewery District">
        <h3 routerLink="location-name">Brewery District</h3>
    </div>
    <div>
        <img routerLink="location-name" src="../../assets/images/locations/rittenhouse-park.png" alt="Rittenhouse Square">
        <h3 routerLink="location-name">Rittenhouse Square</h3>
    </div>
    <div>
        <img routerLink="location-name" src="../../assets/images/locations/cooper-river-park.png" alt="Cooper River">
        <h3 routerLink="location-name">Cooper River</h3>
    </div>
</section>
