img {
    width: 100%;
    cursor: pointer;
}

h3 {
    color: #F08700;
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-around; 
}

p {
    font-style: italic;
    font-size: .8em;
}