<h2 [hidden]="(this.router.url === '/sign-up')">Locations</h2>
<section>
    <div>
        <img routerLink="/location/location-name" src="assets/images/locations/washington-park.png" alt="Washington Park">
        <h3 routerLink="/location/location-name">Washington Park</h3>
    </div>
    <div>
        <img routerLink="/location/location-name" src="assets/images/locations/brewery-park.png" alt="Brewery District">
        <h3 routerLink="/location/location-name">Brewery District</h3>
    </div>
    <div>
        <img routerLink="/location/location-name" src="assets/images/locations/rittenhouse-park.png" alt="Rittenhouse Square">
        <h3 routerLink="/location/location-name">Rittenhouse Square</h3>
    </div>
    <div>
        <img routerLink="/location/location-name" src="assets/images/locations/cooper-river-park.png" alt="Cooper River">
        <h3 routerLink="/location/location-name">Cooper River</h3>
    </div>
</section>
