<h2 id="location" [hidden]="(this.router.url === '/sign-up')">Locations</h2>
<section>
    <div>
        <img routerLink="/location/washington-park" src="assets/images/location/washington-park.png" alt="Washington Park" (click)="scrollToContent()">
        <h3 routerLink="/location/washington-park" (click)="scrollToContent()">Washington Park</h3>
    </div>
    <div>
        <img routerLink="/location/brewery-district" src="assets/images/location/brewery-district.png" alt="Brewery District" (click)="scrollToContent()">
        <h3 routerLink="/location/brewery-district" (click)="scrollToContent()">Brewery District</h3>
    </div>
    <div>
        <img routerLink="/location/rittenhouse-square" src="assets/images/location/rittenhouse-square.png" alt="Rittenhouse Square" (click)="scrollToContent()">
        <h3 routerLink="/location/rittenhouse-square" (click)="scrollToContent()">Rittenhouse Square</h3>
    </div>
    <div>
        <img routerLink="/location/cooper-river-park" src="assets/images/location/cooper-river-park.png" alt="Cooper River Park" (click)="scrollToContent()">
        <h3 routerLink="/location/cooper-river-park" (click)="scrollToContent()">Cooper River Park</h3>
    </div>
</section>
