img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around; 
}

/* MAX SCREEN WIDTH 600PX */

@media (max-width: 600px) {
    section {
        grid-template-columns: 1fr;
    }

    img {
        width: 50%;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        display: none;
    }

    p.info {
        font-size: 1em;
    }

    article {
        padding: 10px;
    }
}

/* MAX SCREEN WIDTH 400PX */

@media (max-width: 400px) {
    div.buttons {
        grid-template-columns: 1fr;
    }
}