h1 {
    margin: .5em;
    font-size: 6em;
    font-family: 'Carter One', cursive;
    color: #F08700;
}

/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    h1 {
        font-size: 4em;
    }
}

/* MAX SCREEN WIDTH 600PX */

@media (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
}