h1 {
    margin: .5em;
    font-size: 6em;
    font-family: 'Carter One', cursive;
    /* font-family: 'Oleo Script', cursive; */
    /* font-family: 'Simonetta', cursive; */
    color: #F08700;
}

img {
    width: 100%;
}