img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around; 
}

@media (max-width: 850px) {
    section {
        grid-template-columns: repeat(2, 40%);
    }

    p {
        font-size: 1em;
    }
}

/* When the screen is 600px or less */

@media (max-width: 600px) {
    section {
        grid-template-columns: 1fr
    }

    img {
        width: 80%;
    }

    h2 {
        font-size: 2em;
    }

    article {
        padding: 10px;
    }
}