img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-around; 
}

div {
    padding-top: 10px;
}

/* MAX SCREEN WIDTH 850PX */

@media (max-width: 850px) {
    section {
        grid-template-columns: 1fr
    }

    img {
        width: 50%;
    }

    p {
        font-size: 1em;
    }

    article {
        padding: 10px;
    }
}

/* MAX SCREEN WIDTH 400PX */

@media (max-width: 400px) {

    h2 {
        font-size: 2em;
    }

    img {
        width: 80%;
    }
}