<h2 id="about">About</h2>
<section>
  <div>
    <img src="assets/images/kickball-about.png" alt="About Photo" />
  </div>
  <article>
    <p class="info">
      Bootsville Kickball Club started in 2005 with just a bunch of high school
      graduates wanting to play competitive kickball. Then we only had one
      league with four teams but as the years went on our popularity grew and
      everyone wanted to join in on the fun we were having. Now we have leagues
      in four different locations to better suit the demand for teams and the
      convenience for our players. If this sounds like a good time to you, go
      ahead and sign up for a league close to you!
    </p>
  </article>
</section>
